@media screen and (max-width: 991px) {
    .promo {
        display: block; 
        padding: 21px 40px 93px 40px;
    }
    .consultation {
        padding: 100px 0 92px 20px;
    }
    .title_left {
        font-size: 34px;
    }
    .slick-next {
        display: block;
        text-align: center;
    }
    .catalog__content_active {
        justify-content: space-around;
    }
    .feed__item {
        margin-left: 20px;
    }
}

/* @media (max-width: 775px)
	
@media (max-width: 575px)
	 */