.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .slick-prev, .slick-next  {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next  {
        right: -66px;
        left: auto;
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
        position: absolute;
        bottom: -35px;
        width: 100%;
        li {
            font-size: 0;
            button {
                font-size: 0;
                width: 15px;  
                height: 15px; 
                padding: 0;   
                border: none; 
                border-radius: 50%; 
                background: transparent; 
                display: flex; 
                align-items: center; 
                justify-content: center; 
    
                &:before {
                    content: "";
                    display: block;
                    width: 10px;
                    height: 10px;
                    background-color: grey; 
                    border-radius: 50%; 
                    transition: background-color 0.3s, transform 0.3s;
                }
            }
            &.slick-active button:before {
                background-color: #ff0000; 
                transform: scale(1.25); 
            }
        }
    }    
}